@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@plugin "tailwindcss-animate";

@theme inline {
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);
  --color-primary-7: var(--primary-7);
  --color-primary-8: var(--primary-8);
  --color-primary-9: var(--primary-9);
  --color-primary-10: var(--primary-10);
  --color-primary-11: var(--primary-11);
  --color-primary-12: var(--primary-12);
  --color-primary-13: var(--primary-13);
  --color-primary-14: var(--primary-14);

  --color-destructive: var(--destructive);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --color-success: var(--success);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-prosper: var(--prosper);

  --color-starry: var(--starry);

  --color-brick: var(--brick);

  --color-lotusroot: var(--lotus-root);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--accordion-panel-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--accordion-panel-height);
    }
    to {
      height: 0;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: var(--color-primary-9);
  --primary-dark: var(--color-primary-14);
  --primary-foreground: var(--color-primary-1);

  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);

  --muted: var(--color-neutral-100);
  --muted-foreground: var(--color-neutral-500);

  --accent: var(--color-primary-1);
  --accent-foreground: var(--color-primary-9);

  --primary-1: oklch(97% 0.014 254.604); /* blue-50 */
  --primary-2: oklch(93.2% 0.032 255.585); /* blue-100 */
  --primary-3: oklch(88.2% 0.059 254.128); /* blue-200 */
  --primary-4: oklch(80.9% 0.105 251.813); /* blue-300 */
  --primary-5: oklch(70.7% 0.165 254.624); /* blue-400 */
  --primary-6: oklch(62.3% 0.214 259.815); /* blue-500 */
  --primary-7: oklch(54.6% 0.245 262.881); /* blue-600 */
  --primary-8: oklch(48.8% 0.243 264.376); /* blue-700 */
  --primary-9: oklch(42.4% 0.199 265.638); /* blue-800 */
  --primary-10: oklch(37.9% 0.146 265.522); /* blue-900 */
  --primary-11: oklch(28.2% 0.091 267.935); /* blue-950 */
  --primary-12: oklch(0.24 0.08 255);
  --primary-13: oklch(0.18 0.06 255);
  --primary-14: oklch(0.14 0.05 255);

  --destructive: oklch(50.5% 0.213 27.518);
  --error: oklch(50.5% 0.213 27.518);
  --info: oklch(58.8% 0.158 241.966);
  --warning: oklch(55.4% 0.135 66.442);
  --success: oklch(44.8% 0.119 151.328);

  --border: var(--color-neutral-200);
  --input: var(--color-neutral-200);
  /* --input: oklch(88.2% 0.059 254.128); */
  /* --ring: oklch(28.2% 0.091 267.935); */
  --ring: var(--color-primary-9);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;

  --sidebar: oklch(97% 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(62.3% 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(88.2% 0.059 254.128);
  --sidebar-accent-foreground: oklch(28.2% 0.091 267.935);
  --sidebar-border: var(--color-neutral-200);
  --sidebar-ring: var(--color-primary-950);
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(54.6% 0.245 262.881);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --warning: oklch(85.2% 0.199 91.936);
  --success: oklch(79.2% 0.209 151.711);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground from-primary-1 to-primary-9 relative bg-linear-to-b;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.85' numOctaves='4' result='noise' stitchTiles='stitch'/%3E%3CfeColorMatrix in='noise' type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    opacity: 0.5;
    mix-blend-mode: multiply;
  }

  h1 {
    @apply text-xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply font-bold;
  }
}
